/*nav*/
body {
  overflow-x: hidden;
}

nav .nav-links {
  overflow-x: hidden;
  position: absolute;
  right: 0px;
  height: 120vh;
  top: 8vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
}

.nav-links li {
  opacity: 0;
}
nav .burger {
  display: block;
}

nav .nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;

    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* nav .nav-links .courses ul {
  margin-left: -45px;
} */

/* show case*/
.wrap #slider .slide-content {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  height: 100vh;
}

.wrap #arrow-left,
.wrap #arrow-right {
  display: none;
}

.slide-content h1 {
  font-size: 2.75rem;
}

.wrap span p {
  font-size: 1.75rem;
}

/*instructors*/

/*Why our instructors*/
.bg .container .our-instructors {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 2rem;
  padding-top: 0;
}

.bg .container .our-instructors img {
  display: none;
}

.bg .container .our-instructors h1 {
  padding-top: 0.5rem;
  font-size: 2.75rem;
}

.bg .container .our-instructors .accordion-content p {
  font-size: 1.25rem;
}

/*rental*/
#rental-section .container .rental {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#rental-section .container .rental > div {
  width: 85%;
}
/*blog*/
#blog .container .blog-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#blog .container .blog-section > div {
  width: 85%;
}

/*footer*/
footer #footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer #footer > div {
  width: 85%;
}
/*equipment section */
.main-eq {
  text-align: center;
}

.main-eq img {
  width: 60%;
}

section #accessories h1 {
  font-size: 4rem;
}

section #cameras h1 {
  font-size: 4rem;
}

section #knifes h1 {
  font-size: 4rem;
}

section #masks h1 {
  font-size: 4rem;
}

section #swimmingaids h1 {
  font-size: 4rem;
}

section #wetsuits h1 {
  font-size: 4rem;
}
